@import '../../style-variables.scss';

.top-nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  height: $top-nav-height;
  line-height: $top-nav-height;

  .logo {
    float: left;
    width: 40px;
    height: 40px;
    margin: 0 20px;
    color: white;
  }
}
