@import '../../style-variables.scss';

.top-nav {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  height: $top-nav-height;
  border: 1px solid black;
  background: darkseagreen;
  display: flex;
  align-items: center;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;

    li {
      margin: 0 15px;
      padding: 3px 5px;
    }
  }

  .logo {
    margin: 0 30px;
  }
}
