@import '../../../style-variables.scss';

.entry-nav {
  min-width: $entry-nav-width;
  max-width: $entry-nav-width;
  height: 100vh;
  overflow: auto;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 3px 0;
}

.book-select-dropdown {
  width: 150px;
}

.menu-item {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between !important;
  align-items: center !important;
  width: 100% !important;
}

.delete-button {
  width: 15px !important;
  height: 15px !important;
  padding: 0 !important;
  margin-bottom: 8px !important;
}
