@import '../../../style-variables.scss';

.entry-nav {
  min-width: $entry-nav-width;
  max-width: $entry-nav-width;
  height: 100vh;
  overflow: auto;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 3px 0;
}

.book-select-dropdown {
  width: 150px;
}

.menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.delete-button {
  width: 20px !important;
  height: 20px !important;
}
